/*li.opened {*/
/* list-style-image: url('/assets/images/bullet_opened.png');*/
/*}*/
/*li.opened:hover {*/
/* list-style-image: url('/assets/images/bullet_opened_hovered.png');*/
/*}*/
/*li.closed {*/
/* list-style-image: url('/assets/images/bullet_closed.png');*/
/*}*/
/*li.closed:hover {*/
/* list-style-image: url('/assets/images/bullet_closed_hovered.png');*/
/*}*/

li {
 list-style-type: none;
}

li:not(.empty) {
 cursor: pointer;
}