@import xlsx2node.Node

@(nodes: List[Node])

@main("Node Viewer") {
  <div class="wrapper">
    <ul>
      @nodes.map { node =>
        @renderNode(node)
      }
    </ul>
  </div>
  <script src='@routes.Assets.versioned("javascripts/index.js")' type="text/javascript"></script>
}

@renderListElement(node: Node)(content: Html) = {
  @if(node.children.isEmpty) {
    <li class="empty">
      @content
    </li>
  } else {
    <li class="closed">
      <span class="bullet">
        <img src='@routes.Assets.versioned("images/bullet_closed.png")'>
      </span>
      @content
    </li>
  }
}

@renderNode(node: Node) = {
  @renderListElement(node) {
    <span class="node_description">Id: @node.Id, name: @node.name</span>
    @if(node.children.nonEmpty) {
      <ul style="display:none">
        @node.children.map { child =>
          @renderNode(child)
        }
      </ul>
    }
  }
}